header h1 svg {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

header p {
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #a7a9ac;
}

header {
    background-color: white;
    margin: 0.2rem;
}