.ui-link {
    display: block;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.ui-name {
    display: block;
    padding: 0.5rem 2rem;
    margin-right: auto;
    margin-left: auto;
}

.ui-heading {
    text-align: center;
    font-size: 2rem;
}